[*.cs]

# IDE0090: 使用 "new(...)"
dotnet_diagnostic.IDE0090.severity = none

# IDE0057: 使用范围运算符
dotnet_diagnostic.IDE0057.severity = none

# IDE0037: 使用推断的成员名称
dotnet_diagnostic.IDE0037.severity = silent

# CA1822: 将成员标记为 static
dotnet_diagnostic.CA1822.severity = silent

# Default severity for analyzer diagnostics with category 'Usage'
dotnet_analyzer_diagnostic.category-Usage.severity = silent
